# git ignore

# ignore mac files
.DS_Store
# ignore temp downloads
data/wayback_downloads
# ignore the whole index
data/*.db
data/*.sqlite

data/quake_website.db.zip
data/quake_website_testing.db.zip

# dev notes
dev